.WeatherForecast {
  text-align: center;
  color: #7288ae;
  padding-top: 20px;
}

.WeatherForecast h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.WeatherForecast img {
  width: 65px;
}

.WeatherForecast p {
  margin: 0;
}
